* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: darkslategray;
    cursor: default;
}

#cursor {
    width: 40px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 20px 20px;
    background-color: transparent;
}

.nav h1 {
    font-size: 30px;
    overflow: hidden;
}

.firstHalf, .secondHalf {
    display: inline-block;
}

.nav i {
    font-size: 30px;
    font-weight: bold;
}

.sidebar {
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -40%;
    padding: 150px 100px;
    background-color: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(10px);
}

.sidebar h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar i {
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}


#page1 {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    overflow-x: hidden;
}

svg {
    background-color: transparent;
    z-index: 90;
    overflow: visible;
}

#page1 h1 {
    font-size: 7vw;
    white-space: nowrap;
    text-align: center;
}

.marque-container {
    background-color: chartreuse;
    padding: 30px 0;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.marque {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
    position: relative;
    will-change: transform;
}

.marque h2 {
    font-size: 6vw;
}

.marque i {
    font-size: 6vw;
}


#page2 {
    height: 100%;
    width: 100%;
    background-color: gray;
    overflow-x: hidden;
}

#page2 h1 {
    font-size: 40vw;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 100px;
}

#page3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: darkslategray;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    background-position: center;
    background-size: cover;
}

#image-one {
    top: 60%;
    background-image: url("images/image_one.jpg");
}

#image-two {
    top: 150%;
    background-image: url("images/image_two.jpg");
}

#image-three {
    top: 240%;
    background-image: url("images/image_three.jpg");
}

#page4 {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    overflow: hidden;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.topPart {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: lightblue;
    z-index: 1;
    top: 0;
    overflow: hidden;
}

.middlePart {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomPart {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: lightblue;
    z-index: 1;
    top: 50%;
    overflow: hidden;
}

#page4 h1 {
    font-size: 30vw;
}

.topPart h1 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.bottomPart h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middlePart .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.middlePart h2 {
    color: white;
    font-size: 14vw;
}


.middlePart ul {
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
}

.middlePart li {
    color: white;
    font-size: 6vw;
}
.middlePart ul a {
    text-decoration: none;
    cursor: pointer;
}

.middlePart ul i {
    color: white;
}
